// General dashboard classes
.dashboard {
	padding-top: $navbar-height;
}


footer.dashboard {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: -$sidebar-padding;
}

// Sidebar class

.sidebar {
	display: none;
}

@media (min-width: $screen-sm-min) {
	.sidebar {
		position: fixed;
		top: $navbar-height;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: $sidebar-padding;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: $gray-lightest;
		border-right: 1px solid $gray-lighter;
	}
}

// Notice block

.notice {
	margin: 60px auto;
	text-align: center;

	@include e('icon') {
		color: $gray-light;
		font-size: 120px;
	}

	@include e('message') {
		font-family: $font-family-second;
		color: $gray-dark;
	}

	@include e('description') {
		margin-top: 20px;
	}
}

// Calender

.calender {
	@include e('week') {
		border-right: 1px solid $gray-light;
		min-width: 60px;

		@include m('label') {
			padding-top: 60px !important;
			font-family: $font-family-second;
			font-weight: bold;
		}
	}

	@include e('day') {
		@include m('block') {
			position: relative;
			border-left: 1px solid $gray-lighter;
			border-top: 1px solid $gray-lighter;
			height: 150px;
		}

		@include m('disabled') {
			background-color: $gray-lightest;
		}
	}

	@include e('day-label') {
		position: absolute;
		top: 6px;
		right: 10px;
		color: $gray-lighter;
	}

	.calender__day--block:first-child {
		border-left: none !important;
	}

	// Working time

	.working-time {
		text-align: left;

		@include e('block') {
			margin-right: 25px;
			padding: 5px 24px 5px 5px;
			background-color: $brand-primary;
			border-radius: $border-radius-base;
			color: $white;
			margin-bottom: $margin-base;
			position: relative;
		}

		@include e('name') {
			font-family: $font-family-base;
			font-weight: bold;
			font-size: 12px;
		}

		@include e('edit') {
			position: absolute;
			top: 4px;
			right: 6px;
			color: $brand-light;
			font-size: 12px;
		}

		@include e-hover('edit') {
			color: white;
		}

		@include e('title') {
			font-size: 12px;
		}

		@include e('time') {
			font-size: 12px;
		}
	}
}

// Main container

.dash {
	padding: 20px;

	@include e('header') {
		font-family: $font-family-second;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: $margin-base;
		color: $gray-dark;

		@include m('margin-top') {
			margin-top: 40px;
		}
	}

	@include e('info') {
		font-size: 18px;
		font-weight: bold;
		color: $gray-dark;
	}

	@include e('table-wrapper') {
		border-radius: $border-radius-large;
		border: $dash-table-border solid $dash-table-color;
		overflow: hidden;
		margin-bottom: 40px;
	}

	@include e('table') {
		th {
			border-top: none !important;
			border-bottom: $dash-table-border solid $dash-table-color !important;
			font-family: $font-family-base;
			font-size: 16px;
			background-color: $gray-lightest;
		}
	}
}

// Navbar

.navbar {
	background-color: $brand-primary;
	min-height: $navbar-height;
}

.navbar-brand {
	color: $white;
	font-family: $font-family-base;
	font-weight: 600;
	font-size: 24px;
}

.navbar-brand:hover {
	color: $white;
}

.nav-sidebar {
	margin: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.navbar-nav a {
	color: $white;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	background-color: $brand-secondary;
}

.nav-sidebar a {
	color: $gray-dark;
	font-family: $font-family-second;
	font-size: 18px;
}

.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus {
	background-color: $gray-lighter;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	background-color: $gray-dark;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max)  {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
	.calendar {
		@include e('day') {
			min-width: none;
		}
	}
}