/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

/// Block last child Element
/// @access public
/// @param {String} $element - Element's name
@mixin e-last-child($element) {
	&__#{$element}:last-child {
		@content;
	}
}

/// Block hover Element
/// @access public
/// @param {String} $element - Element's name
@mixin e-hover($element) {
	&__#{$element}:hover {
		@content;
	}
}

/// Block active Element
/// @access public
/// @param {String} $element - Element's name
@mixin e-active($element) {
	&__#{$element}:active {
		@content;
	}
}

/// Block visited Element
/// @access public
/// @param {String} $element - Element's name
@mixin e-visited($element) {
	&__#{$element}:visited {
		@content;
	}
}

/// Block visited Element
/// @access public
/// @param {String} $element - Element's name
@mixin e-focus($element) {
	&__#{$element}:focus {
		@content;
	}
}

/// Block Element first child
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin e-first-child($modifier) {
	&__#{$modifier}:first-child {
		@content;
	}
}

/// Block Element last child
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin e-last-child($modifier) {
	&__#{$modifier}:last-child {
		@content;
	}
}


/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

/// Block Modifier hover Element
/// @access public
/// @param {String} $element - Element's name
@mixin m-hover($element) {
	&--#{$element}:hover {
		@content;
	}
}

/// Block Modifier first child
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin m-first-child($modifier) {
	&--#{$modifier}:first-child {
		@content;
	}
}

/// Block Modifier last child
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin m-last-child($modifier) {
	&--#{$modifier}:last-child {
		@content;
	}
}
