// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:300,400,600');

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'dashboard';
@import 'customer_bookings';

body {
	background-color: $body-bg;
}

hr {
	border-top: 1px solid $border-color;
}

footer {
	margin-top: 50px;
	margin-bottom: $margin-base;
	text-align: center;
}

.btn {
	font-family: $font-secondary;

	@include m('margin-top') {
		margin-top: 20px;
	}
}

.block {
	background: white;
	padding: $padding-base $padding-base 0 $padding-base;
	border: 1px solid $border-color;
	border-radius: 5px;

	@include m('no-padding') {
		padding: 0px !important;
	}
}

.form-group {
	margin-bottom: $margin-base;
}

.table {
	th {
		border-bottom: 1px solid $border-color;
		font-family: $font-secondary;
		font-size: 18px;
		text-align: center;
		color: $gray-dark;
	}

	td {
		text-align: center;
		font-size: 16px;
	}

	// General modifiers

	@include m('no-margin') {
		margin: 0 !important;
	}

	@include m('red') {
		color: red;
	}

	@include m('right-solid') {
		border-right: $dash-table-border solid $dash-table-color;
	}

	@include m('right-dotted') {
		border-right: $dash-table-border dotted $gray-lighter;
	}

	@include m('right-dashed') {
		border-right: $dash-table-border dashed $gray-lighter;
	}

	@include m('left-solid') {
		border-left: $dash-table-border solid $dash-table-color;
	}

	@include m('left-dotted') {
		border-left: $dash-table-border dotted $gray-lighter;
	}

	@include m('left-dashed') {
		border-left: $dash-table-border dashed $gray-lighter;
	}

	// Field specific modifiers

	@include m('id') {
		width: 80px;
	}

	@include m('description') {
		min-width: 100px;
	}

	@include m('time') {
		max-width: 40px;
	}

	@include m('name') {
		min-width: 100px;
	}

	@include m('date') {
		min-width: 60px;
		max-width: 120px;
	}
}

.table > thead > tr > th {
	border-bottom: none;
}

.user {
	padding-top: 20px;

	a {
		border-left: 1px solid $gray-light;
		padding-left: $padding-base;
		margin-left: $margin-min;
	}
}

.nav-pills {
	padding-top: $padding-base;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
	background-color: $brand-secondary;
	color: $white;
}

.request {
	margin-bottom: $margin-large;

	@include e('input') {
		margin-bottom: 0;
	}

	@include e('button') {
		margin-bottom: $margin-base;

		@include m('dropdown') {
			width: 100%;
			background-color: $white;
			border: 1px solid $input-border;
		}
	}

	@include e('validate') {
		color: $gray-lighter;
	}

	@include e('flex-container') {
		display: flex;
	}

	@include e('flex') {
		flex: 1 1 100px;

		@include m('left') {
			margin-right: $margin-base;
		}

		@include m('right') {
			margin-left: $margin-base;
		}
	}
}

.header {
	text-align: center;

	@include e('title') {
		font-family: $font-secondary;
	}

	@include e-hover('title') {
		text-decoration: none;
	}

	@include e-visited('title') {
		text-decoration: none;
	}

	@include e-focus('title') {
		text-decoration: none;
	}

	@include e('subtitle') {
		margin-top: 0px;
		margin-bottom: $margin-x-large;
		color: $gray-light;
	}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.container {
		width: 1100px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}