// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:300,400,600');

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "dashboard";
@import "customer_bookings";

body {
	background-color: $body-bg;
}

hr {
	border-top: 1px solid $border-color;
}

footer {
	margin-top: 50px;
	margin-bottom: $margin-base;
	text-align: center;
}

.btn {
	font-family: $font-secondary;

	@include m('margin-top') {
		margin-top: 20px;
	}
}

.block {
	background: white;
	padding: $padding-base $padding-base 0 $padding-base;
	border: 1px solid $border-color;
	border-radius: 5px;

	@include m("no-padding") {
		padding: 0px !important;
	}
}

.alert {
	margin-top: $padding-base;
}

.form-group {
	margin-bottom: $margin-base;
}

.table {
	th {
		border-top: none !important;
		border-bottom: 1px solid $border-color;
		font-family: $font-secondary;
		font-size: 18px;
		text-align: center;
		color: $gray-dark;
	}

	td {
		border-top: none !important;
		text-align: center;
		font-size: 16px;
		color: $gray;
	}

	@include m('no-margin') {
		margin: 0 !important;
	}
}

.user {
	padding-top: 20px;

	a {
		border-left: 1px solid $gray-light;
		padding-left: $padding-base;
		margin-left: $margin-min;
	}
}

.nav-pills {
	padding-top: $padding-base;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
	background-color: $brand-secondary;
	color: $white;
}

.request {
	margin-bottom: $margin-large;

	@include e("input") {
		margin-bottom: $margin-base;
	}

	@include e("button") {
		margin-bottom: $margin-base;
	}

	@include e("validate") {
		color: $gray-lighter;
	}
}

.header {
	text-align: center;

	@include e("title") {
		font-family: $font-secondary;
	}

	@include e-hover("title") {
		text-decoration: none;
	}

	@include e-visited("title") {
		text-decoration: none;
	}

	@include e-focus("title") {
		text-decoration: none;
	}

	@include e("subtitle") {
		margin-top: 0px;
		margin-bottom: $margin-x-large;
		color: $gray-light;
	}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.container {
		width: 540px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
	
}